* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

nav {
    max-width: 1000px;
    height: 3rem;
    background-color: #eee;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}